/* Dark Mode is the default */
:root {
  --light: #f7f7f7;
  --dark: #1a1a1a;
  --med: #808080;

  --foreground: var(--light);
  --background: var(--dark);

  --fontStack: "Fira Code", "Courier New", monospace;
}

* {
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
  position: relative;
}

html {
  background-color: var(--background);
  color: var(--foreground);
  display: flex;
  font-size: 125%;
  height: 100%;
  line-height: 1.75;
  transition-property: background-color, color;
  transition: 0.1s ease;
  overflow: hidden;
}

/* 
Firefox with fingerprinting avoidance doesn't handle prefers-color-scheme very well 
and will always default to light mode (even if set to 'dark' in system and/or browser preferences). 
Leaving this note & CSS in for future reference when options page is implemented. 
*/

/* @media (prefers-color-scheme: light) {
  :root {
    --foreground: var(--dark);
    --background: var(--light);
  }
} */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 100%;
  height: 100vh;
  margin: auto;
  padding: 3rem;
  padding-bottom: 0;
  font-family: var(--fontStack);
}

body::after {
  background-image: linear-gradient(transparent, var(--background));
  bottom: 1.5rem;
  content: "";
  height: 1.5rem;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
}

.greeting {
  color: var(--med);
  font-family: var(--fontStack);
  margin: 1rem 0;
}

.notepad {
  max-width: 100%;
  width: 100%;
  margin-left: 50%;
  margin-right: 50%;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  appearance: none;
  background: transparent;
  border: none;
  color: inherit;
  flex: 1 1 100%;
  font-family: var(--fontStack);
  outline: none;
  resize: none;
  scrollbar-width: thin;
  scrollbar-color: var(--med) var(--dark);
}

/* ------------- */
/* MEDIA QUERIES */
/* ------------- */

/* max = "up to" , min = "starting at" */
/* My god I am so sorry this is just the easiest way to force this on my screen */

@media (min-width: 1100px) {
  .notepad {
    width: 80vw;
  }
}

@media (min-width: 1300px) {
  .notepad {
    width: 75vw;
  }
}

@media (min-width: 1500px) {
  .notepad {
    width: 70vw;
  }
}

@media (min-width: 1700px) {
  .notepad {
    width: 65vw;
  }
}

@media (min-width: 1900px) {
  .notepad {
    width: 60vw;
  }
}
